@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.4);
    font-family:'Arial Narrow Bold', sans-serif;
    
}
#main {
    color: red;
    text-align: left;
    position: fixed;
    border: 5px;
    margin: 5px;
    padding: 8px;
    text-align: left;
    top: 0;
    left: 0px;
    box-sizing: border-box;

}

#home {
    color:red;
    text-align: right;
    position: fixed;
    border: 5px;
    margin: 5px;
    padding: 8px;
    text-align: right;
    top: 0;
    right: 500px;
    box-sizing: border-box;
}

#about {
    color: red;
    text-align: right;
    position: fixed;
    border: 5px;
    margin: 5px;
    padding: 8px;
    text-align: right;
    top: 0;
    right: 370px;
    box-sizing: border-box;
}

#contact {
    color: red;
    text-align: right;
    position: fixed;
    border: 5px;
    margin: 5px;
    padding: 8px;
    text-align: right;
    top: 0;
    right: 200px;
    box-sizing: border-box;
}

#services {
    color: red;
    text-align: right;
    position: fixed;
    border: 5px;
    margin: 5px;
    padding: 8px;
    text-align: right;
    top: 0;
    right: 15px;
    box-sizing: border-box;
}

#line {
    text-align: center;
    position: fixed;
    top: 5;
    width: 100%;
    border: 2px solid white;
    margin: 0.1px 0px;
    box-sizing: border-box;
}



#build {
    background-color: rgba(0, 255, 255, 0.5);
    color: blue;
    text-align: center;
    border-radius: 500px;
    margin: 70px 0px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    
}

#intro {
    text-align: center;
    font-size: larger;
    font-style: normal;
    font-weight: 100;
    width: 100%;
    margin: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;


}
